.wrapper{
    display: flex;
}
.topic{
    width: 40%;
    border-right: 1px solid #ccc;
}
.solution {
    height: 100vh;
    width: 60%;
    overflow: hidden;
}

.container {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}
.editor {
    height: 634px;
    width: 100%;
    overflow: hidden;
}
.resizing-compiler {
    position: relative;
    height: 5px;
    background-color: transparent;

    cursor: n-resize;
    user-select: none;
    &:hover {
        background-color: var(--primary);
        transform: scale(1.1);
    }
}

.console {
    width: 100%;
}
