.wrapper {
    position: relative;
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}
.topic {
    flex: 1;
    height: 100%;
    width: 40%;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}
.solution {
    flex: 1;
    height: 100%;
    width: 60%;
    margin: 10px;
    overflow: auto;
}
