@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #166efb;
    --word-black: black;
    --word-black-hover: rgb(103, 102, 102);
    --word-light: rgb(255, 255, 255);
    --word-light-gray: rgb(161, 165, 182);

    --background-light: #ffffff;
    --background-light-depp: rgb(245, 247, 249);
    --background-light-drank: rgb(236 241 247);
    --background-header-drank: rgb(52, 57, 71);
    --background-hover: rgb(228, 231, 250);
    --background-scroll: rgba(159, 159, 159, 0.49);
    --background-active: rgb(255, 255, 255);
    --background-active-drank: rgb(226 237 247);
    --background-hover-menu: rgba(154, 191, 251, 0.527);
    --background-console: rgb(152 200 253 / 30%);

    --hover-color-01: #7f85f7;
    --hover-color-02: #5e8cff;
    --focus-color: #8f8ffe;
    --focus-color-02: #545479;
    --focus-color-03: #b1b1e5;
    --selection-color: #8e62ff;
    --selection-02: #c0a8ff;
    --checked-color: #6a607f;
    --bg-color: #6a71ffb2;
    --base-01: #aab2fd9d;
    --base-02: #bbb8fa;
    --base-03: #a795d8;
    --border-color: #594f63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
a {
    text-decoration: none;
    color: none;
}

button {
    border: none;
    outline: none;
    background-color: unset;
}
ul {
    list-style: none;
}
input {
    border: none;
    outline: none;
}
